<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="admin"></ion-back-button>
    </ion-buttons>
    <ion-title>Exercises</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="add()">Add</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-list
    [list]="list"
    [delete]="true"
    (viewed)="view($event)"
    (removed)="remove($event)"
  >
    <ng-template let-item>
      <app-exercise [exercise]="item" [compact]="true"></app-exercise>
    </ng-template>
  </app-list>
</ion-content>
