<ion-toolbar>
  <ion-buttons start>
    <ng-content></ng-content>
  </ion-buttons>
  <ion-title>{{ (value | async) || pauseable.rest }}</ion-title>
  <ion-buttons
    end
    [ngSwitch]="isPlaying">
    <button
      ion-button
      icon-only
      type="button"
      *ngSwitchCase="false"
      (tap)="play()">
      <ion-icon name="md-play"></ion-icon>
    </button>
    <button
      ion-button
      icon-only
      type="button"
      *ngSwitchDefault
      (tap)="stop()">
      <ion-icon name="md-square"></ion-icon>
    </button>
  </ion-buttons>
</ion-toolbar>
