<ng-template #loading>
  <div padding text-center>
    <ion-spinner></ion-spinner>
  </div>
</ng-template>

<ng-template #empty>
  <div padding>
    <app-empty></app-empty>
  </div>
</ng-template>

<ng-container *ngIf="!!list; else loading">
  <ion-list
    *ngIf="!!list.length; else empty"
    [sliding]="true"
    [reorder]="reorder !== false && list.length > 1"
    (ionItemReorder)="onReorder.emit($event)">
    <ion-item-sliding
      *ngFor="let item of list; trackBy: trackById()"
      (ionSwipe)="onView.emit(item)">
      <ion-item>
        <ng-container
          *ngTemplateOutlet="template; context: getContext(item)">
        </ng-container>
      </ion-item>
      <ion-item-options>
        <button
          ion-button
          type="button"
          color="danger"
          *ngIf="delete !== false"
          (tap)="onRemove.emit(item)">
          Delete
        </button>
        <button
          ion-button
          expandable
          type="button"
          (tap)="onView.emit(item)">
          View
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ng-container>

