<ng-template #loading>
  <div class="ion-padding ion-text-center"><ion-spinner></ion-spinner></div>
</ng-template>

<ng-template #empty>
  <div class="ion-padding"><app-empty></app-empty></div>
</ng-template>

<ng-template #reorderable>
  <ion-reorder-group
    [disabled]="list.length < 2"
    (ionItemReorder)="reordered.emit($event.detail)"
  >
    <div *ngFor="let item of list; trackBy: trackById">
      <app-deletable [disabled]="!delete" (deleted)="removed.emit(item)">
        <ion-item button detail (click)="viewed.emit(item)">
          <ion-label>
            <ng-container
              *ngTemplateOutlet="template; context: getContext(item)"
            ></ng-container>
          </ion-label>
          <ion-reorder slot="end"></ion-reorder>
        </ion-item>
      </app-deletable>
    </div>
  </ion-reorder-group>
</ng-template>

<ng-container *ngIf="list; else loading">
  <ng-container *ngIf="list.length; else empty">
    <!-- FIXME+DRY: https://stackblitz.com/edit/ionic-qvpwrf?file=pages%2Fhome%2Fhome.html -->
    <ion-virtual-scroll
      *ngIf="!reorder; else reorderable"
      [items]="list"
      [trackBy]="trackById"
      [approxItemHeight]="100"
    >
      <!-- <div *virtualItem="let item">
        <app-deletable [disabled]="!delete" (deleted)="removed.emit(item)">
          <ion-item button detail (click)="viewed.emit(item)">
            <ion-label>
              <ng-container
                *ngTemplateOutlet="template; context: getContext(item)"
              ></ng-container>
            </ion-label>
          </ion-item>
        </app-deletable>
      </div> -->
      <ion-item-sliding *virtualItem="let item" [disabled]="!delete">
        <ion-item button detail (click)="viewed.emit(item)">
          <ion-label>
            <ng-container
              *ngTemplateOutlet="template; context: getContext(item)"
            ></ng-container>
          </ion-label>
        </ion-item>
        <ion-item-options (ionSwipe)="removed.emit(item)">
          <ion-item-option
            expandable
            color="danger"
            (click)="removed.emit(item)"
          >
            Delete
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-virtual-scroll>
  </ng-container>
</ng-container>
