<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
    <ion-title>Set</ion-title>
    <ion-buttons slot="end">
      <ion-button [disabled]="!canSubmit" (click)="submit()">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="submit()">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Exercise</ion-label>
        <ion-select
          name="exercise"
          required
          [ngModel]="item.exercise"
          [compareWith]="compareById"
          [attr.disabled]="!exercises"
          (ngModelChange)="resetTime(lastFirstSideSerieTime, !isSided)"
        >
          <ion-select-option
            *ngFor="let exercise of exercises; trackBy: trackById"
            [value]="exercise"
          >
            {{ exercise.name }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Description</ion-label>
        <ion-textarea
          name="description"
          required
          rows="10"
          [ngModel]="item.description"
        >
        </ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Series</ion-label>
        <ion-badge slot="end">{{ series * (isSided ? 2 : 1) }}</ion-badge>
        <ion-range
          name="series"
          required
          snaps
          min="1"
          max="10"
          [ngModel]="item.series"
          (ngModelChange)="resetTime(eachSerieTime, hasOneSerie)"
        >
          <ion-label slot="start">1</ion-label>
          <ion-label slot="end">10</ion-label>
        </ion-range>
      </ion-item>
      <ion-item>
        <ion-label>Mode</ion-label>
        <ion-select name="mode" required [ngModel]="item.mode">
          <ion-select-option
            *ngFor="let label of modes; trackBy: trackByIndex; index as value"
            [value]="value"
          >
            {{ label }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Amplitude</ion-label>
        <ion-select name="amplitude" required [ngModel]="item.amplitude">
          <ion-select-option
            *ngFor="let label of amplitudes; trackBy: trackByIndex; index as value"
            [value]="value"
          >
            {{ label }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Rythm</ion-label>
        <ion-select name="rythm" required [ngModel]="item.rythm">
          <ion-select-option
            *ngFor="let label of rythms; trackBy: trackByIndex; index as value"
            [value]="value"
          >
            {{ label }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item-group>
        <ion-item-divider><ion-label>Countdown</ion-label></ion-item-divider>
        <ion-item [hidden]="hasOneSerie">
          <ion-label>For each serie</ion-label>
          <ion-datetime
            #eachSerieTime
            name="time"
            required
            hourValues="0"
            displayFormat="HH:mm:ss"
            [ngModel]="item.time"
          >
          </ion-datetime>
        </ion-item>
        <ion-item [hidden]="!isSided">
          <ion-label>For last first side serie</ion-label>
          <ion-datetime
            #lastFirstSideSerieTime
            name="timeSided"
            required
            hourValues="0"
            displayFormat="HH:mm:ss"
            [ngModel]="item.timeSided"
          >
          </ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>For last serie</ion-label>
          <ion-datetime
            name="timeAfter"
            required
            hourValues="0"
            displayFormat="HH:mm:ss"
            [ngModel]="item.timeAfter"
          >
          </ion-datetime>
        </ion-item>
      </ion-item-group>
    </ion-list>
  </form>
</ion-content>
