<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button
        ion-button
        type="button"
        (click)="dismiss()">
        Close
      </button>
    </ion-buttons>
    <ion-title>Set</ion-title>
    <ion-buttons end>
      <button
        ion-button
        type="submit"
        form="setForm"
        [disabled]="form.pristine || form.invalid">
        Save
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <form
    id="setForm"
    #form="ngForm"
    (ngSubmit)="save(form.value); dismiss()">
    <ion-list>
      <ion-item>
        <ion-label stacked>Description</ion-label>
        <ion-textarea
          type="text"
          name="description"
          required
          [ngModel]="set.description">
        </ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label stacked>Exercise</ion-label>
        <ion-select
          type="text"
          name="exercise"
          required
          [ngModel]="set.exercise"
          [compareWith]="compare">
          <ion-option
            *ngFor="let exercise of (exercises | async) trackBy: trackById()"
            [value]="exercise">
            {{ exercise.name }}
          </ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label stacked>Repetitions</ion-label>
        <ion-range name="repetitions" min="0" max="10" [ngModel]="set.repetitions">
          <ion-label range-left>0</ion-label>
          <ion-label range-right>10</ion-label>
        </ion-range>
      </ion-item>
      <ion-item>
        <ion-label stacked>Auto</ion-label>
        <ion-toggle name="auto" [ngModel]="set.auto"></ion-toggle>
      </ion-item>
      <ion-item *ngIf="form.value.auto">
        <ion-label stacked>Rest</ion-label>
        <ion-range name="rest" min="0" max="200" [ngModel]="set.rest">
          <ion-label range-left>0s</ion-label>
          <ion-label range-right>200s</ion-label>
        </ion-range>
      </ion-item>
      <ion-item>
        <ion-label stacked>Rythm</ion-label>
        <ion-select name="rythm" [ngModel]="set.rythm">
          <ion-option [value]="0">Normal</ion-option>
          <ion-option [value]="1">Fast</ion-option>
          <ion-option [value]="2">Slow</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label stacked>Amplitude</ion-label>
        <ion-select name="amplitude" [ngModel]="set.amplitude">
          <ion-option [value]="0">Normal</ion-option>
          <ion-option [value]="1">Medium</ion-option>
          <ion-option [value]="2">Short</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
