<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button
        ion-button
        type="button"
        (click)="dismiss()">
        Close
      </button>
    </ion-buttons>
    <ion-title>Workout</ion-title>
    <ion-buttons end>
      <button
        ion-button
        type="submit"
        form="workoutForm"
        [disabled]="!canSubmit">
        Save
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <form
    id="workoutForm"
    (ngSubmit)="submit()">
    <ion-list>
      <ion-list-header>Properties</ion-list-header>
      <ion-item>
        <ion-label stacked>Name</ion-label>
        <ion-input
          type="text"
          name="name"
          required
          [ngModel]="item.name">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Description</ion-label>
        <ion-textarea
          type="text"
          name="description"
          required
          [ngModel]="item.description">
        </ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label stacked>Auto</ion-label>
        <ion-toggle name="auto" [ngModel]="item.auto"></ion-toggle>
      </ion-item>
      <ion-item *ngIf="form.value.auto">
        <ion-label stacked>Rest</ion-label>
        <ion-range
          name="rest"
          min="0"
          max="200"
          [ngModel]="item.rest">
          <ion-label range-left>0s</ion-label>
          <ion-label range-right>200s</ion-label>
        </ion-range>
      </ion-item>
    </ion-list>
  </form>
  <ion-list *ngIf="!!item.id">
    <ion-list-header>
      Sets
      <button
        type="button"
        ion-button
        item-end
        clear
        (click)="addSet()">
        Add
      </button>
    </ion-list-header>
    <ion-item-group
      reorder="true"
      (ionItemReorder)="$event.applyTo(item.sets); save()">
      <ion-item-sliding
        *ngFor="let set of item.sets trackBy: trackById()">
        <ion-item>{{ set.exercise.name }} - {{ set.series }}</ion-item>
        <ion-item-options>
          <button
            ion-button
            type="button"
            color="danger"
            (click)="removeSet(set)">
            Delete
          </button>
          <button
            ion-button
            type="button"
            color="primary"
            (click)="editSet(set)">
            Edit
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-item-group>
  </ion-list>
</ion-content>
