<ion-toolbar>
  <ion-buttons start>
    <ng-content></ng-content>
  </ion-buttons>
  <ion-title>{{ (countdown | async) || pauseable.rest }}</ion-title>
  <ion-buttons end>
    <button
      ion-button
      icon-only
      type="button"
      [disabled]="!!countdown"
      (tap)="play()">
      <ion-icon name="play"></ion-icon>
    </button>
    <button
      ion-button
      icon-only
      type="button"
      [disabled]="!countdown"
      (tap)="stop()">
      <ion-icon name="square"></ion-icon>
    </button>
  </ion-buttons>
</ion-toolbar>
