<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
    <ion-title>Exercise</ion-title>
    <ion-buttons slot="end">
      <ion-button [disabled]="!canSubmit" (click)="submit()">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="submit()">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Name</ion-label>
        <ion-input name="name" required [ngModel]="item.name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Description</ion-label>
        <ion-textarea
          name="description"
          rows="10"
          required
          [ngModel]="item.description"
        >
        </ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label>Doubled</ion-label>
        <ion-toggle
          name="doubled"
          required
          [ngModel]="item.doubled"
        ></ion-toggle>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
