<ion-header>
  <ion-navbar>
    <ion-title>Workouts</ion-title>
    <ion-buttons end>
      <button
        ion-button
        type="button"
        (click)="add()">
        Add
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngIf="!list?.length">
      <h1>Nothing here yet :(</h1>
      <p>Please add a workout!</p>
    </ion-item>
    <ion-item-sliding
      *ngFor="let item of list trackBy: trackById()">
      <ion-item>
        <ion-icon item-start [name]="getIcon(item)"></ion-icon>
        <h1>{{ item.name }}</h1>
        <p>{{ item.description }}</p>
        <p *ngIf="item.auto">{{ item.rest }}</p>
        <ion-badge item-end>{{ item.sets.length }} set(s)</ion-badge>
      </ion-item>
      <ion-item-options>
        <button
          ion-button
          type="button"
          color="danger"
          (click)="remove(item)">
          Delete
        </button>
        <button
          ion-button
          type="button"
          (click)="edit(item)">
          Update
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
